# created by virtualenv automatically

# Virtual environment
venv/
*.pyc
__pycache__/

# Django specific
db.sqlite3
local_settings.py
*.log
*.pot
media/*
staticfiles/*

# IDE and OS specific
.DS_Store
.idea/
.vscode/
Thumbs.db