.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  color: white;
  padding: 14px 20px;
}

  
  .header ul {
    list-style: none;
    display: flex;
  }
  
  .header li {
    margin-left: 20px;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  