/* src/components/SignInButton.css */
.signin-button {
    background-color: #000;
    color: #FFA500;
    padding: 20px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
    margin-left: auto; /* Align it to the right */
    margin-right: 5px; /* Optional: Add space between button and edge */
  }
  
  .google-signin-button {
    background-color: #000;
    color: #FFA500;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    margin: 20px;
    box-sizing: border-box;
  }
  
  .google-signin-button:focus {
    /* Add a visual indicator when the button receives focus */
    box-shadow: 0 0 0 2px #FFA500;
  }
  
  .google-signin-button:hover {
    /* Add a visual indicator when the button is hovered over */
    background-color: #f5f5f5;
  }
   
  .signin-button:hover {
    /* Add a visual indicator when the button is hovered over */
    background-color: #f5f5f5;
  }