:root{
    --base-col: linear-gradient(to right,#47D69E ,#29CC8D );
    --text-col: #58AF9B;
}

.nav_lis{
    margin-inline: 2vw;
    color: var(--text-col);
    font-size:1.15em;
    font-weight: 500;
}

.nav_logo_img{
    height: 9vh;
    margin-left: 20px;
}

.nav_logo_title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #29CC8D;
    width: 5vw;
    line-height: 20px;
}