.top h2{
    font-size: 50px;   
    display: flex;
    justify-content: center; 
    background-color: orange;
    color: rgb(3, 3, 3);
}
.mid{
    padding: 30px 20px;
    width: auto;

}
.bottom{
    display: flex;
    justify-content: flex-end;
}
.bottom button{
    background-color: orange;
    position: fixed;
    left: 75%;
    top: 75%;
    color: rgb(0, 0, 0);
    z-index: 10;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}